html{
    margin: 0;
    padding: 0;
    font-size:20px;
}
body{
    background: #333;
}

/* navbar */
.nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.logo>a{
    text-decoration: none;
    color: orangered;
    font-size: 1.rem;
}
.logo:hover{
    text-decoration: underline;
}

.menu>a:hover{
    text-decoration: underline;
}
.menu>a{
    color: orangered;
    text-decoration: none;
    padding-left: 1rem;
}